# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "d31d1d04c0950c9bc8ba36aa312dd748"
name = "pixel"
handle = "pixel-155"
application_url = "https://shipments-uc-qualifications-experiencing.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = ["https://shipments-uc-qualifications-experiencing.trycloudflare.com/auth/callback", "https://shipments-uc-qualifications-experiencing.trycloudflare.com/auth/shopify/callback", "https://shipments-uc-qualifications-experiencing.trycloudflare.com/api/auth/callback"]

[pos]
embedded = false
